body {
  margin:0;
  background-color:black;
  color:white;
  text-align: center;
  font-family:"Source Sans Pro",sans-serif;
}

#container {
  width: 100vw;
  height: 200px;
  position: relative;
  background-color: black;
}
#animate {
  width: 100vw;
  height: 200px;
  position: absolute;
  left:0px;
  top:0px;
  color: white;
  font-size: 12vw;
}
